@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

/*#111929*/

html {
    background: linear-gradient(-45deg, #000, #111929);
    background-attachment: fixed;
    color: #fff;
}

.wrapper {
    width: 45rem;
    margin: auto;
}

nav {
    z-index: 100;
    backdrop-filter: blur(5px);
    background-color: #202e38bf;
    border: 2px solid #4d6e86bf;
    display: flex;
    width: 45rem;
    position: fixed;
    top: 0;
    height: 2.5rem;
    margin-right: 10rem;
    margin-top: 1.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-width: 1px;
    border-radius: .375rem;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

body {
    padding: 0;
    margin: 0;
    overscroll-behavior-y: none;
    font-family: Roboto, sans-serif;
    line-height: inherit;
    line-height: inherit;
}

main {
    margin-top: 15vh;
    margin-bottom: 13vh;
}

p {
    color: #bfc4ca;
    font-family: Arial;
    line-height: 1.15rem;
}

i {
    margin-right: 0.5rem;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    color: #ffffff80;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 0;
    margin: 0;
}

h4 {
    margin-top: 0.01rem;
    color: #ffffff4d;
    font-size: 1rem;
    line-height: 1.5rem;
}

hr {
    color: #495761bf;
}

input {
    padding: 1;
    border: 1px solid #4d6e86bf;
}

footer {
    margin-top: 3vh;
    margin-bottom: 10vh;
}

.horizontal-list-box {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 2px solid #202e38bf;
    border-radius: .375rem;
    height: 2rem;
    padding: 0.5rem;
    ;
}

.space-underneath {
    margin-bottom: 4vh;
}

.space-underneath {
    margin-bottom: 5vh;
}

.nav-btn {
    color: #ffffffd7;
    font-size: 1rem;
    line-height: 1.25rem;
    margin-right: 0.2rem;
    padding-top: .6rem;
    padding-bottom: .6rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    cursor: pointer;
    text-decoration: none;
    border-radius: .375rem;
}

.translator-btn {
    background-color: #4d867528;
    padding-top: .6rem;
    padding-bottom: .6rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-right: 0.33rem;
    cursor: pointer;
    border-radius: .375rem;
    border: none;
}

.translator-btn:hover {
    background-color: #4d867560;
}

.nav-btn:hover {
    background-color: #babaec1a;
    color: #fff;
}

.buttons-right {
    font-size: 1.4rem;
}

.italics {
    font-style: italic;
}

.darken-on-hover:hover {
    color: #afafaf
}

.sized-box {
    margin: auto;
    position: relative;
    z-index: 99;
    padding: 0.3rem;
    width: 42rem;
    height: 20rem;
    border: 2px solid #4d6e86bf;
    background-color: #202e38bf;
    word-wrap: break-word;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 1rem;
}