* {
    margin: 0;
    padding 0;
}

body {
    background: linear-gradient(45deg,rgb(255, 183, 119), rgb(241, 125, 140));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div.headcontainer {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 30px;
}