div.login-wrapper {
   background-color: #fff;
   border: 2px solid #fff;
   border-radius: 10px;
   width: 30vw;
   height: 60vh;
}

div.welcome-txt {
   margin: 40px auto auto 20px;
   font-size: 48px;
}

input {
   font-size: 22px;
   width: 80%;
   margin: 60px 40px 40px 40px;
   border: none;
   border-bottom: 1px solid black;
   cursor: pointer;
}

input:focus {
   outline: none;
}

input[type="submit"] {
   border: none;
   padding: 10px;
   margin: none none none none;
}

input#login {
   width: 35%;
}

button {
   border: none;
   width: 35%;
   padding: 10px;
   margin: none none none none;
   cursor: pointer;
}


button#register {
   border: none;
   width: 35%;
   padding: 10px;
   margin: none none none 20px;
   background-color: #fff;
   border: 3px solid #054085;
   border-radius: 10px;
   font-size: 22px;
}

input#login {
   background-color: #0876f7;
   border: 3px solid #033876;
   border-radius: 10px;
   color: #fff;
}