* {
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
}

body {
   background-color: #054085;
}

main {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 70vh;
}
